@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');

/* ================== Header/Navbar ================== */

body {
  z-index: 0;
}

body > div.ui.container {
  background: rgb(244, 255, 240);
}

.mainHeader {
  z-index: 2;
  position: relative;
  margin: 0 0 auto 0;
  padding: 7em 0 5em 0;
  text-align: center;
  box-shadow: 0 1px rgba(0, 0, 0, 0.1),
              0 2px rgba(0, 0, 0, 0.1),
              0 3px rgba(0, 0, 0, 0.1),
              0 4px rgba(0, 0, 0, 0.1),
              0 5px rgba(0, 0, 0, 0.1),
              0 6px rgba(0, 0, 0, 0.1);
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body > div.mainHeader > div > a, body > div.mainHeader > a {
  color: #fff;
}

body > div.mainHeader > div > a {
  font-size: 8em;
  padding-bottom: 2em;
}

body > div.mainHeader > a {
  padding: 2em;
  margin: auto;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 2em;
}

/* ================== Fixed Header/Navbar ================== */

.fixedSHeader {
  z-index: 1;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 0 1px rgba(0, 0, 0, 0.1),
              0 2px rgba(0, 0, 0, 0.1),
              0 3px rgba(0, 0, 0, 0.1),
              0 4px rgba(0, 0, 0, 0.1),
              0 5px rgba(0, 0, 0, 0.1),
              0 6px rgba(0, 0, 0, 0.1);
  background: #000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
}

body > div.fixedSHeader > div > a, body > div.fixedSHeader > a {
  color: #fff;
}

.fixedNav {
  padding: 0.5em;
  float: right;
  font-size: 1.3em;
}

.fixedHome {
  padding: 0.5em;
  float: left;
  font-size: 1.3em;
}

/* ================== About ================== */
p {
  font-size: 1.5em;
}

.hText {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 4em;
  text-align: center;
  margin: 0 0 1.5em 0;
}

.sText {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 3em;
  text-align: center;
  padding: 1em;
}

.sections {
  margin: 7em;
}

/* ================== Portfolio ================== */


.workLinks {
  margin-top: 1.5em;
}

/* ================== Contact ================== */

#contact > div > a {
  font-size: 4em;
  color: #000;
}

.logos {
  display: flex;
  justify-content: space-between;
}

#about > div:nth-child(8) > img {
  height: 100px;
  width: 100px;
  margin: auto 2em;
}

#about > div:nth-child(10) > img {
  height: 75px;
  width: 160px;
  margin: auto 2em;
}

.placeholder {
  height: 30px;
}

footer > div > a > i {
  font-size: 4em;
  color: #fff;
  padding: 0.3em;
}

footer {
  color: #fff;
  font-size: 0.7em;
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
  text-align: center;
}